PORT=3000
MONGODB_URI=mongodb+srv://joaquimmateus0404:rVq4jzw527C2xKVm@cluster0.xxxxx.mongodb.net/kudiamap?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=kudiamap-dev-secret-key
JWT_EXPIRES_IN=7d